body{
    /*background: #FC466B;  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3F5EFB, #FC466B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container{
    display:grid;
    justify-items: center;
}

.card-top{
    width: 20%;
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); 

}

.container h1, h3, ul, li{
    text-align: center;
}

ul{
    margin-left: 0;
    padding-left: 0;
}

li{
    list-style: none;
    border: orchid 1px solid;
    margin:0.5em;
    color: orchid;
}

.card-down{
    display: grid;
    justify-content: center;
    margin: 0.05em;
    width: 20%;
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); 
}

.w-form{
    display: grid;
    justify-content: center;
    margin: 0.05em;
}

button{
    margin-bottom: 0.5em;
}



.form__input{
    display: inline-block;
    margin: 0.5em  auto;
    width: 95%;
}